.Header {
  background-color: #6A706E;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1em 0 ;
  margin-top:0;
  margin-bottom: 2em;
  
  a, a:hover {
    color:white;
  }

  h1{
    margin:0;
  }
}